@using Microsoft.AspNetCore.Components.Web
@namespace PokeCollection.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="icon" type="image/png" href="/images/icon.png" />
    <script>
        if (localStorage.getItem('darkMode') === 'true')
            document.documentElement.classList.add('dark');
    </script>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css?v=2" />
    <link href="css/site.css?v=10" rel="stylesheet" />
    <link href="PokeCollection.styles.css?v=3" rel="stylesheet" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
    <script src="js/darkmode.js"></script>
    <script>
        window.notifyHostReady = function () {
            if (window.chrome && window.chrome.webview)
                window.chrome.webview.postMessage('blazorReady');
        };
    </script>
</body>
</html>
